<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid py-5">
    <h3> Total count of <a href="/admin/products"> products </a>in the database: <%= @total_product %> </h3>
    <h3> Total count of product categories: <%= @total_category %> </h3>
  </div>
</div>